- var title = 'PAPEKO'
- var description = ''
- var origin = 'http://papeko.yhey.me'

doctype html
html(lang='ja')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content= description)
    link(rel='apple-touch-icon', href='/apple-touch-icon.png', type='image/png')
    meta(property='og:title', content= title)
    meta(property='og:type', content='website')
    meta(property='og:image', content= origin + '/cover.png')
    meta(property='og:url', content= origin)
    meta(property='og:description', content= description)
    meta(property='og:locale', content='ja_JP')
    meta(property='fb:app_id', content='')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:creator', content='@yuhei95')
    link(rel='stylesheet', href='/style.css')
    script(src='/app.js', async)

  body
    #app
